<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start">
      <div class="header-content">
        <h1>Categories</h1>
        <p>Gerer vos categories</p>
      </div>
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button class="add-button-header" color="primary" (click)="addCategory()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="list-info">
    <span class="label">Toutes les categories</span>
    <ion-badge color="primary" mode="ios">Total: {{ categories.length }}</ion-badge>
  </div>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let cat of categories">
      <ion-item class="category-item">
        
        <ion-label>
          <h2>{{ cat.libelle }}</h2>
        </ion-label>

        <ion-button fill="clear" color="medium" slot="end">
          <ion-icon name="pencil-sharp"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" class="delete-option" (click)="deleteCategory(cat.libelle)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

